@import 'nib'
@import 'vendor/orion-guideline-personas/stylus/parciales/variables.styl'

  
.pl-6
    padding-left 6px!important

.mantenedor-modelos-atencion .opciones-comentario .opciones-comentario.confirmacion.confirmacion--link
    right 30px
	position relative
.clickfono-dropdown
	background-color $grey-10
	&:before
		content ''
		width 0
		position absolute
		top -10px
		height 0
		border-style solid
		border-width 0 10px 10px 10px
		border-color transparent transparent $grey-10 transparent
// Confirmación eliminar
.opciones-comentario
	display flex
	justify-content flex-end
	padding 0
	align-items center
	.confirmacion
		position absolute
		background-color $color-3
		padding 5px
		right 40px
		border-radius 3px
		display flex
		align-items center
		z-index 1
		max-width 330px
		margin-top 0px
		&:after
			content ''
			position absolute
			width 0
			height 0
			left 100%
			border-width 6px
			border-style solid
			border-color transparent transparent transparent $color-3
			z-index 1001
		span
			white-space nowrap
			color $default-color
			font-size 12px
		button
			padding 0 !important
			margin 0 0 0 5px !important
			width 25px
			text-align center
		&.confirmacion--error
			background $default-color
			border 1px solid $color-13
			span
				color $color-12
			&:after
				content "\f3d3"
				font-family "Ionicons"
				position absolute
				width 5px
				height 7px
				top 10px
				left 100%
				border none
				z-index 1001
				color $color-13
				background $default-color
				line-height 8px
			.confirmacion__contenido
				display none
			.confirmacion__contenido--error
				display block
		&__contenido
			display inherit
		&__contenido--error
			display none
		&.confirmacion--modal
			top auto
			right 40px
		&.confirmacion--databar
			margin-top 0px
			right 80px

.dropdown-animation
  animation fadeIn ease .5s
  -webkit-animation fadeIn ease .5s
  -moz-animation fadeIn ease .5s
  -o-animation fadeIn ease .5s
  -ms-animation fadeIn ease .5s

$keyframe-name = fadeIn
@keyframes {$keyframe-name}
  for i in 0..10
    {10% * i}
      opacity (i/10)