<div class="row mt-15">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-20">
        <a class="btn-fill info-btn mr-0 pull-right" href="javascript:void(0);" ng-click="vm.asideAgregarSucursalPool('md')">
            <div class="cont-animacion">
                <span></span>
                <i class="ion-ios-plus-empty"></i>
            </div>
            <span class="btn-link">Agregar sucursal pool</span>
        </a>
    </div>
</div>
<section class="search-bar mb-20">
    <h3 class="pl-15 text-color-11 px-16 pull-left mt-10 mb-0">Buscar sucursales pool</h3>
    <ul class="search-bar__actions">
        <li>
            <a href="javascript:void(0);" ng-click="showFiltros = !showFiltros" ng-class="{'active':showFiltros}">
                <i class="ion-ios-search"></i>
            </a>
        </li>
    </ul>
    <div class="search-bar__filters" collapse="!showFiltros">
        <div class="search-bar__fieldset forms-empresas">
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 form-group padd-none mt-20 mb-0">
                <div class="row form-group">
                
                    <label class="col-md-12 col-sm-12 col-xs-12 col-lg-12 ml-15">CUI o Nombre sucursal</label>
                    <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                        <input type="text" ng-model="vm.filtroBusqueda" class="form-control float-left ml-15" placeholder="238">
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 col-lg-9">
                        <button type="button" class="btn btn-link mr-0" ng-click="vm.limpiarFiltros()">Limpiar</button>
                        <button ng-click="vm.buscar()" class="btn default pl-30 pr-30">Buscar</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<div class="color-15 pt-10 pb-10 pl-15 pr-15 mb-20 width-100 display-block col-sm-12" ng-if="!vm.sinResultadosMsg">
    <div class="pull-left">
        <span class="px-15 pt-5 display-block">
            {{vm.vigentesEliminados.length}} Seleccionados
        </span>
    </div>
    <button ng-disabled="vm.vigentesEliminados.length === 0"
            ng-click="vm.eliminarVigentes()"
            class="btn default mr-0 pull-right">Eliminar</button>
</div>

<!-- [INICIO] ALERTAS -->
<div ng-error-handler 
        error="vm.errorHandler" 
        tipo-error="vm.errorHandler.tipo">
</div>
<!-- [FIN] ALERTAS -->


<div class="col-xs-12 pr-0 pl-0" ng-if="!vm.sinResultadosMsg">
    <!-- Inicio tabla-->
    <div class="table-responsive clear mt-10">
        <table class="table tabla-interactiva tabla-seleccion">
            <thead>
                <tr>
                    <th class="actions text-center" width="3%">
                    </th>
                    <th width="5%" ng-click="consultar.sortBy('cui')">CUI
                        <i class="pull-right ion-ios-arrow-down"></i>
                    </th>
                    <th ng-click="consultar.sortBy('nombreSucursal')">Nombre de la sucursal pool
                        <i class="pull-right ion-ios-arrow-down"></i>
                    </th>
                    <th class="actions" width="5%"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sucursalVigente in vm.paginador.pagedItems">
                    <td class="actions text-center">
                        <label class="bch-custom-check display-flex justify-content-center">
                            <div class="mr-0">
                                <input type="checkbox"
                                        ng-checked="vm.vigentesEliminados.indexOf(sucursalVigente) > -1"
                                        ng-click="vm.actualizaListaSeleccionados(sucursalVigente)">
                                <i></i>
                            </div>
                        </label>
                    </td>
                    <td class="text-left">{{ sucursalVigente.cui }}</td>
                    <td class="text-left">{{ sucursalVigente.nombreOficina }}</td>
                    <td class="actions">
                        <div class="link-more pr-0 opciones-comentario pull-right" >
                            <div class="confirmacion confirmacion--link ng-hide" ng-show="confirmacion=='eliminar1'" style="right:30px !important;">
                                <span class="inline-block">¿Seguro desea eliminar?</span> 
                                <button class="btn default btn-xs" ng-click="vm.eliminarVigente(sucursalVigente); confirmacion=''">Si</button>
                                <button class="btn default btn-xs" ng-click="confirmacion='no'">No</button>
                            </div>
                            <div class="confirmacion confirmacion--error ng-hide"
                                    ng-show="confirmacion=='' && vm.errorEliminaVigente"
                                    style="right:30px !important;">
                                <span class="inline-block">
                                    <i class="ion-ios-close-outline text-danger px-14 line-height-normal"></i>
                                    No se pudo eliminar.
                                    <a ng-click="vm.eliminarVigente(sucursalVigente)" class="btn-link px-12" href="javascript:void(0);">
                                        Reintentar
                                    </a>
                                </span>
                            </div>
                            <a href="javascript:void(0)" 
                                class="link-icon px-12 ml-0 width-100" 
                                ng-click="confirmacion='eliminar1'"
                                tooltip-append-to-body="true" 
                                tooltip="Eliminar" 
                                tooltip-placement="top" 
                                tooltip-trigger="mouseenter">
                                <i class="ion-ios-trash-outline px-25 text-color-6 width-100 pl-0 pr-0"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--Paginador-->
    <div class="bch-paginador">
        <div class="row">
            <ng-paginator-back config="vm.paginador" select-page-funtion="vm.buscar()"></ng-paginator-back>
        </div>
    </div>
    <!--fin Paginador-->
</div>