<div class="modal-header">
    <h3 class="modal-title pull-left">Registro de cambios</h3>    
    <button class="btn info close-modal" ng-click="vm.cerrarAside()">
        <span class="ion-ios-close-empty"></span>
    </button>
</div>
<div class="modal-body">
    <div class="col-xs-12 border-bottom padd-none mt-20" ng-repeat="registro in vm.registroDeCambios">
        <h5 class="text-color-3 mb-5">{{registro.nomEjecutivo}} - {{registro.cargoEjecutivo}}</h5>
        <p class="px-14 mb-15">Editó el {{registro.fechaIngresoCom | date:'dd/MM/yyyy - HH:mm:ss' }} hrs.</p>
        <p class="px-14 mb-20 text-color-11">
            {{registro.observacionCom}}
        </p>
    </div>
    <div ng-error-handler 
         error="vm.excepcionRegistroCambios" 
         tipo-error="vm.excepcionRegistroCambios.tipo">
    </div>
</div>