<div class="modal-header">
    <h3 class="modal-title pull-left">{{vm.accionTituloMantenedor}} modelo de atención</h3>

    <button class="btn info close-modal" ng-click="vm.cerrarAside()">
        <span class="ion-ios-close-empty"></span>
    </button>
</div>

<div class="modal-body">
    <form name="modeloAtencionForm" novalidate>
        <div ng-if="!(vm.getEstadoAccion())">
            <div class="col-xs-12 padd-none mt-20">
                <h4 class="border-bottom text-color-3 mb-25">Parámetros</h4>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 padd-none">
                <div class="form-group col-md-6 col-lg-6 col-sm-6 col-xs-12 pr-0 mb-10 pl-0">
                    <label>Canal</label>
                    <ui-select ng-model="vm.canal" ng-required="true" ng-change="vm.revisaModeloEditado()"
                        search-enabled="true" class="selector-motivo-cierre">
                        <ui-select-match placeholder="Seleccione...">
                            {{$select.selected.desCanal | uppercase}}
                        </ui-select-match>
                        <ui-select-choices repeat="canal in vm.PARAMETROS.listCanal">
                            {{canal.desCanal | uppercase}}
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group col-md-6 col-lg-6 col-sm-6 col-xs-12 pr-0 mb-10">
                    <label>Marca</label>
                    <ui-select ng-model="vm.marca" ng-required="true" ng-change="vm.revisaModeloEditado()"
                        search-enabled="true" class="selector-motivo-cierre">
                        <ui-select-match placeholder="Seleccione...">
                            {{$select.selected.desMarca | uppercase}}
                        </ui-select-match>
                        <ui-select-choices repeat="marca in vm.PARAMETROS.listMarca">
                            {{marca.desMarca | uppercase}}
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group col-md-6 col-lg-6 col-sm-6 col-xs-12 pr-0 mb-10 pl-0">
                    <label>Cliente o no cliente</label>
                    <ui-select ng-model="vm.cliente" ng-required="true" ng-change="vm.revisaModeloEditado()"
                        search-enabled="true" class="selector-motivo-cierre">
                        <ui-select-match placeholder="Seleccione...">
                            {{$select.selected.desTpCliente | uppercase}}
                        </ui-select-match>
                        <ui-select-choices repeat="cliente in vm.PARAMETROS.listCliente">
                            {{cliente.desTpCliente | uppercase}}
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group col-md-6 col-lg-6 col-sm-6 col-xs-12 pr-0 mb-10">
                    <label>Segmento estructural</label>
                    <ui-select ng-model="vm.segmentoEstructural" ng-required="true" ng-change="vm.revisaModeloEditado()"
                        search-enabled="true" class="selector-motivo-cierre">
                        <ui-select-match placeholder="Seleccione...">
                            {{$select.selected.desSegmentoEst | uppercase}}
                        </ui-select-match>
                        <ui-select-choices repeat="segmentoEstructural in vm.PARAMETROS.listSegEst">
                            {{segmentoEstructural.desSegmentoEst | uppercase}}
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group col-md-6 col-lg-6 col-sm-6 col-xs-12 pr-0 mb-10 pl-0">
                    <label>Segmento comercial</label>
                    <ui-select ng-model="vm.segmentoComercial" ng-required="true" ng-change="vm.revisaModeloEditado()"
                        search-enabled="true" class="selector-motivo-cierre">
                        <ui-select-match placeholder="Seleccione...">
                            {{$select.selected.valor | uppercase}}
                        </ui-select-match>
                        <ui-select-choices repeat="segmentoComercial in vm.PARAMETROS.segmentosComerciales">
                            {{segmentoComercial.valor | uppercase}}
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group col-md-6 col-lg-6 col-sm-6 col-xs-12 pr-0 mb-10">
                    <label>Tipo de sucursal</label>
                    <ui-select ng-model="vm.tipoSucursal" ng-required="true"
                        ng-change="vm.validaNotificacionPool(); vm.revisaModeloEditado()" search-enabled="true"
                        class="selector-motivo-cierre">
                        <ui-select-match placeholder="Seleccione...">
                            {{$select.selected.desTpSucursal | uppercase}}
                        </ui-select-match>
                        <ui-select-choices repeat="tipoSucursal in vm.PARAMETROS.listSucursal">
                            {{tipoSucursal.desTpSucursal | uppercase}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-xs-12 padd-none mt-20">
                <h4 class="border-bottom text-color-3">Notificaciones</h4>
            </div>
            <label class="mb-20 mt-10">Activa o desactiva las notificaciones según las necesidades del modelo.</label>
            <!--<div class="form-group col-xs-12 pr-0 mb-10 pl-0" ng-repeat="notificacion in vm.PARAMETROS.listNoti">
                <label class="col-xs-12 switch success pb-0 mb-0 pt-0">
                    <input type="checkbox" ng-model="vm.notificaciones[notificacion.idNotificacion]"
                        ng-change="vm.actualizarArrayNotificaciones(notificacion); vm.validaNotificacionPool(); vm.revisaModeloEditado(); vm.validaNotificacionClickfono(notificacion)">
                    <i></i>
                    ///Circle
                    <span class="text-default">{{notificacion.desNotificacion | uppercase}}</span>
                </label>
            </div>-->

            <div class="form-group col-xs-12 pr-0 mb-10 pl-0" ng-repeat-start="notificacion in vm.PARAMETROS.listNoti"
                ng-if="$first">
                <label class="col-xs-12 switch success pb-0 mb-0 pt-0">
                    <input type="checkbox" ng-model="vm.notificaciones[notificacion.idNotificacion]"
                        ng-change="vm.actualizarArrayNotificaciones(notificacion); vm.validaNotificacionPool(); vm.revisaModeloEditado(); vm.validaNotificacionClickfono(notificacion);">
                    <i></i>

                    <span class="text-default">{{notificacion.desNotificacion | uppercase}}</span>
                </label>
                <div ng-show="vm.validarClickFono" class="dropdown-animation">
                    <div
                        class="clickfono-dropdown form-group col-md-6 col-lg-6 col-sm-6 col-xs-12 pb-10 pt-10 mt-15 mb-15">
                        <label>Agente asociado</label>
                        <ui-select ng-model="vm.tipoSucursal" ng-required="true"
                            ng-change="vm.validaNotificacionPool(); vm.revisaModeloEditado()" search-enabled="true"
                            class="selector-motivo-cierre">
                            <ui-select-match placeholder="Seleccione...">
                                {{$select.selected.desTpSucursal | uppercase}}
                            </ui-select-match>
                            <ui-select-choices repeat="tipoSucursal in vm.PARAMETROS.listSucursal">
                                {{tipoSucursal.desTpSucursal | uppercase}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12 pr-0 mb-10 pl-0" ng-repeat-end ng-if="!$first">
                <label class="col-xs-12 switch success pb-0 mb-0 pt-0">
                    <input type="checkbox" ng-model="vm.notificaciones[notificacion.idNotificacion]"
                        ng-change="vm.actualizarArrayNotificaciones(notificacion); vm.validaNotificacionPool(); vm.revisaModeloEditado();">
                    <i></i>

                    <span class="text-default">{{notificacion.desNotificacion | uppercase}}</span>
                </label>
            </div>
            <div class="col-xs-12 padd-none mt-20" ng-if="vm.editaFlag">
                <h4 class="border-bottom text-color-3">Comentarios</h4>
                <div class="form-group col-xs-12 pr-0 mb-10 pl-0">
                    <label class="mt-10">Explique brevemente el motivo de la edición.</label>
                    <textarea ng-model="vm.comentarios" ng-required="vm.editaFlag" ng-minlength="vm.minComentarios"
                        ng-maxlength="vm.limiteComentarios" maxlength="{{vm.limiteComentarios}}"
                        ng-model-options="{ allowInvalid: true }" class="form-control" cols="10" rows="2"></textarea>
                    <span class="pull-left px-14 mt-5">
                        Requerido
                    </span>
                    <span class="pull-right px-14 mt-5">
                        <span
                            ng-class="{'text-danger': vm.comentarios.length < vm.minComentarios || vm.comentarios.length == vm.limiteComentarios}">
                            {{vm.comentarios.length ? vm.comentarios.length : '0'}}</span> /
                        <span
                            ng-class="{'text-danger': vm.comentarios.length < vm.minComentarios || vm.comentarios.length == vm.limiteComentarios}">{{vm.limiteComentarios}}</span>
                    </span>
                </div>
            </div>

            <div ng-error-handler error="vm.errorNotificacionEjecutivoPool"
                tipo-error="vm.errorNotificacionEjecutivoPool.tipo">
            </div>

            <div ng-error-handler error="vm.warningModeloYaExiste" tipo-error="vm.warningModeloYaExiste.tipo">
            </div>

            <div class="modal-footer gestiones mt-10 mb-10" ng-if="vm.agregaFlag">
                <button class="btn success mr-0" ng-disabled="modeloAtencionForm.$invalid"
                    ng-click="vm.crearModeloAtencion()">Agregar modelo</button>
            </div>
            <div class="modal-footer gestiones mt-10 mb-10" ng-if="vm.editaFlag">
                <button class="btn success mr-0" ng-disabled="modeloAtencionForm.$invalid || !vm.modeloSinEdicion"
                    ng-click="vm.editarModeloAtencion()">Guardar cambios</button>
            </div>
        </div>

        <div ng-if="vm.getEstadoAccion()">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 padd-none mb-30">
                <div ng-error-handler error="vm.modeloYaExiste" tipo-error="vm.modeloYaExiste.tipo">
                </div>

                <div ng-error-handler error="vm.exitoModelo" tipo-error="vm.exitoModelo.tipo">
                </div>

                <div ng-error-handler error="vm.operacionNoRealizada" tipo-error="vm.operacionNoRealizada.tipo">
                </div>

                <div ng-error-handler error="vm.servicioNoDisponible" tipo-error="vm.servicioNoDisponible.tipo">
                </div>

                <div class="modal-footer gestiones mt-10 mb-10"
                    ng-if="vm.servicioNoDisponible||vm.operacionNoRealizada">
                    <button class="btn neutro mr-0" ng-click="vm.volverAtras()">Volver</button>
                    <button class="btn primary mr-0" ng-click="vm.reintentar()">Reintentar</button>
                </div>
            </div>
        </div>
    </form>
</div>