<div class="row mt-10">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-20">
        <a class="btn-fill info-btn mr-0 pull-right" href="javascript:void(0);" ng-click="vm.asideAgregarModeloAtencion('md')">
            <div class="cont-animacion">
                <span></span>
                <i class="ion-ios-plus-empty"></i>
            </div>
            <span class="btn-link">Agregar modelo</span>
        </a>
    </div>
</div>
<section class="search-bar mb-5">
    <h3 class="pl-15 text-color-11 px-16 pull-left mt-10 mb-0">Buscar modelos de atención</h3>
    <ul class="search-bar__actions">
        <li>
            <a href="javascript:void(0);" ng-click="showFiltros = !showFiltros" ng-class="{'active':showFiltros}">
                <i class="ion-ios-search"></i>
            </a>
        </li>
    </ul>
    <div class="search-bar__filters" collapse="!showFiltros">
        <div class="search-bar__fieldset forms-empresas">
            <div class="col-md-12 col-sm-12 col-xs-12 form-group padd-none mt-20 mb-0">
                <div class="col-md-4 col-sm-4 col-xs-4 form-group">
                    <label>Canal</label>
                    <ui-select ng-model="vm.filtroCanal" 
                                ng-init="vm.filtrosCanales"
                                ng-change="vm.reiniciaPagina()">
                        <ui-select-match placeholder="Seleccione...">
                            {{$select.selected.desCanal | uppercase}}
                        </ui-select-match>
                        <ui-select-choices repeat="canal in vm.filtrosCanales">
                            {{canal.desCanal | uppercase}}
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 form-group">
                    <label>Marca</label>
                    <ui-select ng-model="vm.filtroMarca"
                                ng-init="vm.filtrosMarcas"
                                ng-change="vm.reiniciaPagina()">
                        <ui-select-match placeholder="Seleccione...">
                            {{$select.selected.desMarca | uppercase}}
                        </ui-select-match>
                        <ui-select-choices repeat="marca in vm.filtrosMarcas">
                            {{marca.desMarca | uppercase}}
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 form-group">
                    <label>Cliente o no cliente</label>
                    <ui-select ng-model="vm.filtroCliente"
                                ng-init="vm.filtrosClientes"
                                ng-change="vm.reiniciaPagina()">
                        <ui-select-match placeholder="Seleccione...">
                            {{$select.selected.desTpCliente | uppercase}}
                        </ui-select-match>
                        <ui-select-choices repeat="cliente in vm.filtrosClientes">
                            {{cliente.desTpCliente | uppercase}}
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 form-group">
                    <label>Segmento estructural</label>
                    <ui-select ng-model="vm.filtroSegmentoEstructural"
                                ng-init="vm.filtrosSegmentosEstructurales"
                                ng-change="vm.reiniciaPagina()">
                        <ui-select-match placeholder="Seleccione...">
                            {{$select.selected.desSegmentoEst | uppercase}}
                        </ui-select-match>
                        <ui-select-choices repeat="segmentoEstructural in vm.filtrosSegmentosEstructurales">
                            {{segmentoEstructural.desSegmentoEst | uppercase}}
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 form-group">
                    <label>Segmento comercial</label>
                    <ui-select ng-model="vm.filtroSegmentoComercial"
                                ng-init="vm.filtrosSegmentosComerciales"
                                ng-change="vm.reiniciaPagina()">
                        <ui-select-match placeholder="Seleccione...">
                            {{$select.selected.valor | uppercase}}
                        </ui-select-match>
                        <ui-select-choices repeat="segmentoComercial in vm.filtrosSegmentosComerciales">
                            {{segmentoComercial.valor | uppercase}}
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 form-group">
                    <label>Tipo de sucursal</label>
                    <ui-select ng-model="vm.filtroTipoSucursal"
                                ng-init="vm.filtrosTiposSucursales"
                                ng-change="vm.reiniciaPagina()">
                        <ui-select-match placeholder="Seleccione...">
                            {{$select.selected.desTpSucursal | uppercase}}
                        </ui-select-match>
                        <ui-select-choices repeat="tipoSucursal in vm.filtrosTiposSucursales">
                            {{tipoSucursal.desTpSucursal | uppercase}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="search-bar__buttonset">
            <button ng-click="vm.limpiarFiltros()" 
                    type="button" 
                    class="btn btn-link mr-0">Limpiar</button>
            <button ng-click="vm.buscar()"
                    class="btn default">Buscar</button>
        </div>
    </div>
</section>
<div class="color-15 pt-10 pb-10 pl-15 pr-15 mb-5 width-100 display-block col-sm-12" ng-if="!vm.sinResultadosMsg">
    <div class="pull-left">
        <span class="px-15 pt-5 display-block">{{vm.vigentesEliminados.length}} Seleccionados</span>
    </div>
    <button ng-disabled="vm.vigentesEliminados.length === 0"
            ng-click="vm.eliminarVigentes()"
            class="btn default mr-0 pull-right">Eliminar</button>
</div>

<div ng-error-handler 
        error="vm.errorEliminarVigentes" 
        tipo-error="vm.errorEliminarVigentes.tipo">
</div>

<div ng-error-handler 
        error="vm.responseOk" 
        tipo-error="vm.responseOk.tipo">
</div>

<div ng-error-handler 
        error="vm.sinResultadosMsg" 
        tipo-error="vm.sinResultadosMsg.tipo">
</div>

<div class="col-xs-12 pr-0 pl-0" ng-if="!vm.sinResultadosMsg">
    <!-- Inicio tabla vigentes-->
    <div class="table-responsive clear">
        <table class="table tabla-interactiva tabla-seleccion">
            <thead>
                <tr>
                    <th class="actions text-center" width="3%">
                    </th>
                    <th width="8%" ng-click="consultar.sortBy('canal')">Canal
                        <i class="pull-right ion-ios-arrow-down"></i>
                    </th>
                    <th ng-click="consultar.sortBy('marca')">Marca
                        <i class="pull-right ion-ios-arrow-down"></i>
                    </th>
                    <th ng-click="consultar.sortBy('ClienteNoCliente')">Cliente o no cliente
                        <i class="pull-right ion-ios-arrow-down"></i>
                    </th>
                    <th ng-click="consultar.sortBy('segmentoEstructural')">Segmento estructural
                        <i class="pull-right ion-ios-arrow-down"></i>
                    </th>
                    <th ng-click="consultar.sortBy('segmentoComercial')">Segmento comercial
                        <i class="pull-right ion-ios-arrow-down"></i>
                    </th>
                    <th ng-click="consultar.sortBy('tipoSucursal')">Tipo de sucursal
                        <i class="pull-right ion-ios-arrow-down"></i>
                    </th>
                    <th ng-click="consultar.sortBy('notificaciones')" width="17%">Notificaciones
                        <i class="pull-right ion-ios-arrow-down"></i>
                    </th>
                    <th ng-click="consultar.sortBy('agente')" width="17%">Agente
                        <i class="pull-right ion-ios-arrow-down"></i>
                    </th>
                    <th class="actions" width="5%"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vigente in vm.paginador.pagedItems">
                    <td class="actions text-center">
                        <label class="bch-custom-check display-flex justify-content-center">
                            <div class="mr-0">
                                <input type="checkbox"
                                        ng-checked="vm.vigentesEliminados.indexOf(vigente) > -1"
                                        ng-click="vm.actualizaListaSeleccionados(vigente)">
                                <i></i>
                            </div>
                        </label>
                    </td>
                    <td class="text-left">{{ vigente.canal | uppercase }}</td>
                    <td class="text-left">{{ vigente.desMarca | uppercase }}</td>
                    <td class="text-left">{{ vigente.desTpCliente | uppercase }}</td>
                    <td class="text-left">{{ vigente.segmentoEstructural | uppercase }}</td>
                    <td class="text-left">{{ vigente.segmentoComercial | uppercase }}</td>
                    <td class="text-left">{{ vigente.desTpSucursal | uppercase }}</td>
                    <td class="text-left">{{ vm.getLabelNotificaciones(vigente.tipoNotificaciones, ",") | uppercase }}</td>
                    <td class="text-left">{{ vigente.nombreAgente | uppercase }}</td>

                    <td class="actions display-flex justify-evenly">
                        <div class="dropdown dropdown-btn pl-5 pr-5 mr-0" uib-dropdown is-open="status.isopen{{$index}}">
                            <a id="dropDownUser" class="dropdown-toggle pl-0" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                                <i class="px-22 text-color-6 ion-android-menu"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu" uib-dropdown-menu aria-labelledby="dropDownUser">
                                <li><a href="javascript:void(0);" ng-click="vm.asideEditarModeloAtencion('md', vigente);"><i class="icon-icon-edit-empty px-18"></i> Editar</a></li>
                                <li><a href="javascript:void(0);" ng-click="vm.asideRegistroCambios('md', vigente.idModeloAtencion);"> <i class="ion-ios-chatbubble-outline px-18"></i> Comentarios de edición</a></li>
                            </ul>
                        </div>
                        <div class="link-more pr-0 opciones-comentario pull-right pl-5 pr-5" >
                            <div class="confirmacion confirmacion--link ng-hide" ng-show="confirmacion=='eliminar1'" style="right:30px !important;">
                                <span class="inline-block">¿Seguro desea eliminar?</span> 
                                <button class="btn default btn-xs" ng-click="vm.eliminarVigente(vigente); confirmacion=''">Si</button>
                                <button class="btn default btn-xs" ng-click="confirmacion='no'">No</button>
                            </div>
                            <div class="confirmacion confirmacion--error ng-hide"
                                    ng-show="confirmacion=='' && vm.errorEliminaVigente"
                                    style="right:30px !important;">
                                <span class="inline-block">
                                    <i class="ion-ios-close-outline text-danger px-14 line-height-normal"></i>
                                    No se pudo eliminar.
                                    <a ng-click="vm.eliminarVigente(vigente)" class="btn-link px-12" href="javascript:void(0);">
                                        Reintentar
                                    </a>
                                </span>
                            </div>
                            <a href="javascript:void(0)" 
                               class="link-icon px-12 ml-0 width-100" 
                               ng-click="confirmacion='eliminar1'"
                               tooltip-append-to-body="true" 
                               tooltip="Eliminar" 
                               tooltip-placement="top" 
                               tooltip-trigger="mouseenter">
                                <i class="ion-ios-trash-outline px-25 text-color-6 width-100 pl-0 pr-0"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--Paginador vigentes-->
    <div class="bch-paginador">
        <div class="row">
            <ng-paginator-back config="vm.paginador" select-page-funtion="vm.actualizaVigentes()"></ng-paginator-back>
        </div>
    </div>
    <!--fin Paginador-->
</div>