<section class="mantenedor-modelos-atencion retencion-bandeja-unidad-cierre bch-empresas-tabs mb-30">
    <h1>Mantenedor modelos de atención</h1>

    <div ng-error-handler 
         error="vm.servicioNoDisponible" 
         tipo-error="vm.servicioNoDisponible.tipo"
         funcion="vm.reload()"
         tipo-button="R">
         <uib-tabset>
            <uib-tab
                ng-repeat="tab in vm.TABS | jsonToList"
                heading="{{tab.heading}}"
                ui-sref="{{tab.route}}"
                active="tab.active">
            </uib-tab>
        </uib-tabset>
        <div ui-view="contenido_tab_view"></div>
    </div>
</section>

