<div class="modal-header">
    <!-- [INICIO] TITULO PARA: AGREGAR -->
    <h3 class="modal-title pull-left">Agregar sucursal con gestor fila</h3>
    <!-- [FIN] TITULO PARA: AGREGAR -->

    <button class="btn info close-modal" ng-click="vm.cerrarAside()">
        <span class="ion-ios-close-empty"></span>
    </button>
</div>
<div class="modal-body">
    <div ng-error-handler 
         error="vm.creacionExitosa" 
         tipo-error="vm.creacionExitosa.tipo">

        <!-- [Inicio] - BLOQUE BODY -->
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 padd-none mt-20 mb-15">
            <h4 class="border-bottom text-color-3">Agregar CUI a sucursales con gestor de fila</h4>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 padd-none">
                <div class="form-group row pr-0 mb-10 pl-0">
                    <label class="col-md-12 col-sm-12 col-xs-12 col-lg-12">CUI</label>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <input ng-model="vm.cuiSucursalRq"
                            type="text"
                            class="form-control float-left"
                            placeholder="Ingrese"
                            only-number>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <button ng-click="vm.buscar()"
                            ng-disabled="vm.busquedaSucursalResponse"
                            class="btn info display-block pl-30 pr-30">Buscar</button>
                    </div>
                </div>
            </div>
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 padd-none mt-30">
            <article ng-if="vm.busquedaSucursalResponse.nombreSucursal" class="col-lg-12 col-md-12 col-sm-12 data-bar mb-30 pl-15 pt-0 pb-0">
                <div class="data-bar__resumen-producto">
                    <div class="data-bar__resumen-producto--bloque col-1">
                        <span>CUI {{vm.busquedaSucursalResponse.cui}}</span>
                        <h5 class="text-color-4 pb-0">{{vm.busquedaSucursalResponse.nombreSucursal}}</h5>
                    </div>
                </div>
                <div class="data-bar__actions">
                    <div class="link-more pr-0 opciones-comentario pull-right" >
                        <a href="javascript:void(0)" class="link-icon px-24 ml-0 width-100" ng-click="vm.reiniciarSucursalBuscada()">
                            <i class="ion-ios-trash-outline px-20 text-color-5 width-100"></i>
                        </a>
                    </div>
                </div>
            </article>
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 padd-none mb-30">
                <div ng-error-handler 
                    error="vm.errorHandler" 
                    tipo-error="vm.errorHandler.tipo"
                    funcion="vm.reintentar()"
                    tipoButton="R">
                </div>
            </div>
        
            <div ng-if="vm.busquedaSucursalResponse.nombreSucursal" class="modal-footer gestiones mt-10 mb-10">
                <button ng-click="vm.crearSucursalGestor()"
                        ng-disabled="!vm.busquedaSucursalResponse"
                        class="btn success mr-0">Agregar</button>
            </div>
        </div>
    </div>
</div>