<section class="search-bar mt-15 mb-20">
    <a class="search-bar__btn-periodo btn-link" href="javascript:void(0);" ng-click="mostrarPeriodos = !mostrarPeriodos">
            Periodo: {{vm.fechaDesde | date:'dd/MM/yyyy'}} - {{vm.fechaHasta | date:'dd/MM/yyyy'}} <i class="ion-ios-arrow-down"></i>
    </a>
    <div class="search-bar__caja-periodos" collapse="!mostrarPeriodos">
        <div class="search-bar__dateSet">
            <button class="btn default btn-sm"
                    ng-click="vm.filtrarPorPeriodo('SEMANA'); fechaPersonalizada=false">
                    Una semana atrás</button>
            <button class="btn default btn-sm"
                    ng-click="vm.filtrarPorPeriodo('MES'); fechaPersonalizada=false">
                    Un mes atrás</button>
            <button class="btn default btn-sm"
                    ng-click="fechaPersonalizada = !fechaPersonalizada"
                    ng-class="{'active': fechaPersonalizada}">
                    Personalizar fecha</button>
        </div>
        <div class="search-bar__datepickers" ng-if="fechaPersonalizada">
                <div class="search-bar__calendar">
                    <datepicker ng-model="vm.fechaDesde"
                                ng-change="vm.actualizaRangoFechas()"
                                min-date="vm.fechaMin" 
                                max-date="vm.fechaMax" 
                                show-weeks="false" 
                                class="datepicker"></datepicker>
                </div>
                <div class="search-bar__calendar">
                    <datepicker ng-model="vm.fechaHasta"
                                ng-change="vm.actualizaRangoFechas()"
                                min-date="vm.fechaMin" 
                                max-date="vm.fechaMax" 
                                show-weeks="false" 
                                class="datepicker"></datepicker>
                </div>
                <div class="col-xs-12 pt-10 mb-10 text-right">
                    <button class="btn success"
                            ng-click="vm.filtrarPorPeriodo()">
                            Buscar</button>
                </div>
        </div>
    </div>
    <ul class="search-bar__actions">
        <li>
            <a href="javascript:void(0);" ng-click="showFiltros = !showFiltros" ng-class="{'active':showFiltros}">
                <i class="ion-ios-search"></i>
            </a>
        </li>
    </ul>
    <div class="search-bar__filters" collapse="!showFiltros">
        <div class="search-bar__fieldset forms-empresas">
            <div class="col-md-12 col-sm-12 col-xs-12 form-group padd-none mt-20 mb-0">
                <div class="col-md-5 col-sm-5 col-xs-5 form-group">
                    <label>CUI o Nombre sucursal</label>
                    <input ng-model="vm.filtroBusqueda" type="text" class="form-control" placeholder="Ingrese">
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5 form-group">
                    <label>Ejecutivo</label>
                    <ui-select ng-model="vm.filtroEjecutivo" ng-init="vm.filtrosEjecutivos">
                        <ui-select-match placeholder="Seleccione...">
                            {{$select.selected.idEjecutivo | uppercase}}
                        </ui-select-match>
                        <ui-select-choices repeat="ejecutivo in vm.filtrosEjecutivos">
                            {{ejecutivo.idEjecutivo | uppercase}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="search-bar__buttonset">
            <button type="button" class="btn btn-link mr-0" ng-click="vm.limpiarFiltros()">Limpiar</button>
            <button class="btn default" ng-click="vm.buscar()">Buscar</button>
        </div>
    </div>
</section>
<div class="color-15 pt-10 pb-10 pl-15 pr-15 mb-20 width-100 display-block col-sm-12" ng-if="!vm.sinResultadosMsg">
    <div class="pull-left">
        <span class="px-15 pt-5 display-block">
            {{vm.eliminadosRestaurados.length}} Seleccionados
        </span>
    </div>
    <button ng-disabled="vm.eliminadosRestaurados.length === 0"
            ng-click="vm.restaurarEliminados()"
            class="btn default mr-0 pull-right">Restaurar</button>
</div>


<!-- [INICIO] ALERTAS -->
<div ng-error-handler 
        error="vm.errorHandler" 
        tipo-error="vm.errorHandler.tipo">
</div>
<!-- [FIN] ALERTAS -->


<div class="col-xs-12 pr-0 pl-0" ng-if="!vm.sinResultadosMsg">
    <!-- Inicio tabla-->
    <div class="table-responsive clear mt-10">
        <table class="table tabla-interactiva tabla-seleccion">
            <thead>
                <tr>
                    <th class="actions text-center" width="3%">
                    </th>
                    <th width="5%" ng-click="consultar.sortBy('cui')">CUI
                        <i class="pull-right ion-ios-arrow-down"></i>
                    </th>
                    <th width="50%" ng-click="consultar.sortBy('nombreSucursal')">Nombre de la sucursal con gestor de fila
                        <i class="pull-right ion-ios-arrow-down"></i>
                    </th>
                    <th ng-click="consultar.sortBy('ejecutivo')">Ejecutivo
                        <i class="pull-right ion-ios-arrow-down"></i>
                    </th>
                    <th ng-click="consultar.sortBy('fechaHora')">Fecha y hora
                        <i class="pull-right ion-ios-arrow-down"></i>
                    </th>
                    <th class="actions" width="4%"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sucursalEliminada in vm.paginador.pagedItems">
                    <td class="actions text-center">
                        <label class="bch-custom-check display-flex justify-content-center">
                            <div class="mr-0">
                                <input type="checkbox"
                                        ng-checked="vm.eliminadosRestaurados.indexOf(sucursalEliminada) > -1"
                                        ng-click="vm.actualizaListaSeleccionados(sucursalEliminada)">
                                <i></i>
                            </div>
                        </label>
                    </td>
                    <td class="text-left">{{ sucursalEliminada.cui }}</td>
                    <td class="text-left">{{ sucursalEliminada.nombreSucursal }}</td>
                    <td class="text-left">{{ sucursalEliminada.idEjecutivo }}</td>
                    <td class="text-left">{{ sucursalEliminada.fechaModificacion | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td class="actions display-flex justify-evenly">
                        <div class="link-more pr-0 opciones-comentario pull-right pl-5 pr-5" >
                            <div class="confirmacion confirmacion--link ng-hide" ng-show="confirmacion=='eliminar1'" style="right:30px !important;">
                                <span class="inline-block">¿Seguro desea restaurar?</span> 
                                <button class="btn default btn-xs" ng-click="vm.restaurarEliminado(sucursalEliminada); confirmacion=''">Si</button>
                                <button class="btn default btn-xs" ng-click="confirmacion='no'">No</button>
                            </div>
                            <div class="confirmacion confirmacion--error ng-hide" ng-show="confirmacion=='' && vm.errorRestaurarEliminado" style="right:30px !important;">
                                <span class="inline-block">
                                    <i class="ion-ios-close-outline text-danger px-14 line-height-normal"></i>
                                    No se pudo restaurar.
                                    <a ng-click="vm.restaurarEliminado(sucursalEliminada)" class="btn-link px-12" href="javascript:void(0);">
                                        Reintentar
                                    </a>
                                </span>
                            </div>
                            <a href="javascript:void(0)" 
                               class="link-icon px-12 ml-0 width-100" 
                               ng-click="confirmacion='eliminar1'"
                               tooltip-append-to-body="true" 
                               tooltip="Restaurar" 
                               tooltip-placement="top" 
                               tooltip-trigger="mouseenter">
                               <i class="ion-ios-refresh-empty px-25 text-color-6 width-100 pl-0 pr-0"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--Paginador-->
    <div class="bch-paginador">
        <div class="row">
            <ng-paginator-back config="vm.paginador" select-page-funtion="vm.buscar()"></ng-paginator-back>
        </div>
    </div>
    <!--fin Paginador-->
</div>