<!DOCTYPE html>
<html ng-app="WebBancoChile" ng-controller="AppCtrl" class="centro-negocios">
<head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>
    <!-- compiled JavaScript --><% var found = false; scripts.forEach( function ( file ) { if (file.indexOf('src/')>-1
    && !found){%>
    <!-- init-taurus -->
    <script type="text/javascript" src="<%= file %>"></script>
    <%found =true;}else{%>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }}); %>
</head>
<!--[if IE 9]>
<body class="ie9"><![endif]-->
<!--[if !IE9]><!-->
<body class="business-center__body" ng-class="{'home-view': uiState.current.name === 'escritorio-ejecutivo', '':uiState.current.name !== 'escritorio-ejecutivo'}"> <!--<![endif]-->
<header ui-view="header" class="header"></header>
<div class="principal-container">

    <section ui-view="main" class="container"></section>
</div>
<!-- 	<footer ui-view="footer"></footer>
 -->
</body>
</html>

<!--<footer ui-view="footer" class="footer-ppal col-xs-12 col-sm-12 col-md-12 col-lg-12"></footer>-->
